h1 Bearbeite Klassenarbeit

== render 'form'

.space-one
' oder
.space-one

= link_to 'Klassenarbeit löschen', test_path(@test), data: { confirm: 'Sind Sie sicher?' }, :method => :delete, class: 'btn btn-danger'
